body {
    font-family: 'Roboto', sans-serif;

    margin: 0;
    padding: 0;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    align-items: center;
    background: rgba(255, 255, 255, 0.6);
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1000;
}

.navbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 20px;
}

.navbar h1 {
    margin: 0;
    font-size: 36px;
    color: #004a7c;
}

.navbar p {
    margin: 0;
    font-size: 25px;
    color: #ffffff;
}



.container {
    width: 100%;
    max-width: 1900px;
    padding: 20px;
    box-sizing: border-box;
    max-height: 100vh;
    padding-top: 68px;
}

.header {
    text-align: center;

}

.header h1 {
    margin: 0;
    font-size: 36px;
    color: #004a7c;
}

.header p {
    margin: 0;
    font-size: 18px;
    color: #555;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    height: auto;
}

.queue-card {
    background: #ffffff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    color: #000;
    border-radius: 8px;
    padding: 20px;
    box-sizing: border-box;
    height: 280px;
}

.queue-card h2 {
    margin: 10px 0px;
    font-size: 35px;
    color: #000000;
}

.queue-card p {
    margin: 10px 0;
    font-size: 18px;
    color: #000000;
}

.status-serving {
    color: #009688;
}

.status-waiting {
    color: #ff5722;
}

.footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #777;
}